; Rank config for Heterogenous rank
; use both pcm and dram in the same rank
RankType My_hete_rank_name
;========================================================
;GlobalEventQueue::AddSystem need
; 	400 MHz clock (800 MT/s LPDDR). Clock period = 1.5 ns
CLK 400
EventDriven false
;========================================================